@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    //Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href='~/css/home-style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <link rel="stylesheet" href="~/vendors/simple-line-icons/css/simple-line-icons.css" />
</head>
<body class="bg-auth">
    <div class="login-page col-12">
        <div class="mx-auto">
            <h3 class="text-center">@ViewData["Title"]</h3>
            <h5 class="text-center">Reset your password.</h5>
            <form data-ajax="true" method="post">
                @{
                    @*if (Model.Input != null && !string.IsNullOrEmpty(Model.Input.Message) && Model.Input.Message == "Succeeded")
                    {
                        <p>
                            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
                        </p>
                    }
                    else*@
                    if (Model.Input != null && !string.IsNullOrEmpty(Model.Input.Message))
                    {
                        <div class="mb-0 text-success success-msg px-3 py-2">@Model.Input.Message</div>
                    }
                }

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" type="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" type="password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mx-auto d-block">Reset</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>