@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserIdentity> SignInManager
@inject UserManager<UserIdentity> UserManager

<li class="nav-item d-xl-inline-flex user-dropdown display-1200 list-type-remove">
    <div class="col-md-2">
        <div><i class="fa fa-bell bel-icon" aria-hidden="true"></i></div>
        <div class="qty">0</div>
    </div>
    <a class="nav-link" id="UserDropdown" aria-expanded="false">
        <span class="font-weight-normal">@User.Identity.Name</span>
    </a>
    <form data-ajax="true" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="btn-logout nav-link btn btn-link ">Logout</button>
    </form>
</li>