<ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="top: 281.422px;left: 590.719px;width: 848.5px;/* display: none; */">
    <li class="ui-menu-item">
        <div class="d-flex align-items-center ui-menu-item-wrapper" id="ui-id-16" tabindex="-1">
            <div class="mr-4"><img src="/images/website/Homemade-Chocolate-Bars.jpg" width="30" height="30"></div>
            <div>
                ColdFusion
            </div>
        </div>
    </li>
</ul>