@model LocatePlate.Model.Identity.User

<form data-ajax="true"  method="post" data-ajax-url="/notfound" data-ajax-method="post" data-ajax-failure="failed">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <i class="fa fa-user signup-icon"></i>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <i class="fa fa-envelope signup-icon"></i>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <i class="fa fa-phone signup-icon font-20" aria-hidden="true"></i>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <i class="fa fa-lock signup-icon font-20" aria-hidden="true"></i>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <i class="fa fa-lock signup-icon font-20" aria-hidden="true"></i>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    @*<div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input text-primary" data-val="true" value="true">By signing up you agree to our <span class="font-weight-bold">Terms of Service & Privacy Policy</span>
                <i class="input-helper"></i>
            </label>
        </div>*@
    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="IsAcceptedTermAndCondition" /> By signing up you agree to our <span class="font-weight-bold">Terms of Service & Privacy Policy</span>
            <i class="input-helper"></i>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>


@section scripts{
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script>
        failed = function (xhr) {
            alert(`Status: {xhr.status}, Status Text: {xhr.statusText}`);
        };
    </script>
}
