@using System.Linq
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http;
@model LocatePlate.Model.Cms.Modules.SearchHeader.SearchButtonsModule
@inject LocatePlate.Service.Pages.IPageService _pageService
@{
    var restaurantDropDown = new List<SelectListItem>();
    var locations = _pageService.GetAllAsync().GetAwaiter().GetResult().OrderBy(c => c.Name).ToList();
    restaurantDropDown.Add(new SelectListItem { Text = "Select", Value = $"{Guid.Empty}" });
    if (locations.Any()) locations.ToList().ForEach(c => restaurantDropDown.Add(new SelectListItem { Text = c.Name, Value = $"{c.Id}" }));
    var query = this.Context.Request.Query["Query"].ToString();
}

<div class="section-bgimage position-relative">
    <div class="overlay overlay-top"></div>
    <div class="search-panel text-center overlay-2 container">
        <form asp-action="Search" asp-controller="Home" method="get">
            <div class="mx-auto search-heading">
                <div class="text-white font-30">Order Food Online For Dine in & Take away</div>
            </div>
            <div class="d-flex align-items-center search-box justify-content-center">
                <div class="mr-2 w-20 search-box-option">
                    <select name="Location" class="form-control location-detect bold-600 text-dark header-locationId" asp-items="@restaurantDropDown"></select>
                    <i class="fa fa-map-marker left-loct text-primary" aria-hidden="true"></i>
                </div>
                <div class="w-80 input-restaurant-dishes">
                    <div class="input-group input-group-lg align-items-center ui-widget">
                        <input type="text" name="query" value="@query" class="form-control search-button text-dark font-16" id="search-header" placeholder="Search for restaurants or cusines" aria-label="Recipient's username" aria-describedby="inputGroup-sizing-lg">
                        <img src="~/images/website/locat-detect.png" id="autodetect" class="left-icon-textbox" />
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text btn-primary text-white font-weight-bold border-0 btn" id="inputGroup-sizing-lg"><i class="fa fa-search mr-2" aria-hidden="true"></i>Search </button>
                        </div>
                    </div>
                    @*@Html.RenderPartialAsync("_SearchAutoComplete")*@
                </div>
            </div>
            @if (Model != null && Model.Buttons != null)
            {
                <div class="d-flex justify-content-center mt-4 location-section-header">
                    @foreach (var item in Model.Buttons)
                    {
                        <div class="looking-section">
                            <a href="/restaurants/search/?Location=@Model.PageId&Query=&Deals=&Tags=@item.Keyword&PageNumber=1&RowsOfPage=10&SortingCol=&SortType=0" class="text-white"><h5 class="text-wrap">@item.Name</h5></a>
                        </div>
                    }
                </div>
            }
            @* <div class="mobile-filter-div mx-4 overlay-2 mb-2">
                    <div class="form-group mr-2">
                        <input type="text" class="form-control font-14 datepicker" />
                    </div>
                    <div class="form-group">
                        <select class="form-control font-14">
                            <option>1 Guest</option>
                            <option selected>2 Guests</option>
                            <option>3 Guests</option>
                            <option>4 Guests</option>
                            <option>5 Guests</option>
                            <option>6 Guests</option>
                            <option>7 Guests</option>
                            <option>8 Guests</option>
                            <option>9 Guests</option>
                            <option>10 Guests</option>
                            <option>10 + Guests</option>
                        </select>
                    </div>
                </div>*@
        </form>
    </div>
</div>