@model LocatePlate.Model.Search.SearchResult

@{
    var host = $"{ViewContext.HttpContext.Request.Scheme}://{ViewContext.HttpContext.Request.Host}";
    string queryString = "?Guest=";
    if (ViewContext.HttpContext.Request.QueryString.HasValue && ViewContext.HttpContext.Request.QueryString.Value.Contains("&Guest="))
        queryString += ViewContext.HttpContext.Request.QueryString.Value.Split("&Guest=")[1];
}

@if (Model != null && Model.Slots.Any())
{

    <div class="mobile-time-slots px-12">
        <ul class="time-slots my-2 pl-0 d-flex flex-row flex-wrap">
            @foreach (var item in Model.Slots.Take(10))
            {
                <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                    <a href="@host/@Model.RestaurantUrl@queryString&Time=@item" class="bold-600 text-white">@item</a>
                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="time-slots mt-2 mb-3 mobile-time-unavailable">
        <div class="slot-not-available bg-outline-primary border-radius-4">
            <a href="">Time Slot Unavailable</a>
        </div>
    </div>
}
