@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<section class="contact-us-section">
    <div class="contact-us-header">
        <div class="position-absolute contact-us-heading text-white text-center">
            <h1>Contact Us</h1>
            <p>Want to get in touch? We'd love to hear from you.</p>
        </div>
    </div>

    <div class="contact-us-body container">
        <div class="my-5">
            <div class="row">
                <div class="col-md-7">
                    <form>
                        <h1 class="mb-4">Get in Touch</h1>
                        <div class="form-group">
                            <input type="text" class="form-control font-14" id="FullNameContact" placeholder="Enter Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control font-14" id="InputEmailContact" aria-describedby="emailHelp" placeholder="Enter Your Email Address">
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control font-14" id="InputMobileContact" placeholder="Enter Your Mobile Number">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control font-14" id="TextareaContact" rows="6" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary text-white">Submit</button>
                    </form>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <h1 class="mb-3">Contact with us</h1>
                    <div class="our-contact">
                        <p class="mb-0">For Support or any queries</p>
                        <p>Email us at <a href="">support@pipes.in</a></p>
                    </div>
                    <div class="our-contact-address">
                        <h2 class="text-black">Address</h2>
                        <p class="mb-0">912 B Building ICC Building, Ring Rd, next to Kadiwala School, near Majura Gate, Surat, Gujarat 395002</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>