@model LocatePlate.Model.Cms.Page

@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

@if (Model?.PageLayout?.Section != null)
{
    @foreach (var item in Model?.PageLayout?.Section)
    {
        var host = $"{ViewContext.HttpContext.Request.Scheme}://{ViewContext.HttpContext.Request.Host}";
        if (item?.Module?.SearchButtonsModule != null)@await Html.PartialAsync("_SearchSectionPartial", item?.Module?.SearchButtonsModule)
        if (item?.Module?.DealModule != null)@Html.Raw(item.Module.DealModule.Markup)
        if (item?.Module?.AdvertisementModule != null)@Html.Raw(item.Module.AdvertisementModule.Markup)
        if (item?.Module?.CardsVerticalModule != null)@Html.Raw(item.Module.CardsVerticalModule.Markup.Replace(ModuleTokens.RestaurantHost, host))
        if (item?.Module?.WALFModule != null)@Html.Raw(item.Module.WALFModule.Markup)

    }
    @*    <section class="containerapp-section-desktop">
            <div class="pt-3 pr-3 pl-3 mt-5">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="row align-items-center">
                            <div class="col-md-6 hidden-sm hidden-xs col-sm-6 col-xs-offset-0 col-lg-6 col-lg-offset-1">
                                <div class="text-center">
                                    <img src="~/images/website/mobile.png" alt="Download FoodChow App">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-offset-0 col-lg-6 col-lg-offset-1">
                                <div class="app-info">
                                    <h1>The Best Table Reservation App</h1>
                                    <p class="font-calibri text-medium font-16">
                                        Locate Plate has an Innovative restaurant table reservation app available on iPhone and Android. You can find nearby Restaurants and place order by viewing Restaurant Menu. The App helps you to take you to the Restaurant you like to visit through GPS, as well as share your experience by giving your own review and rating.
                                    </p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="hidden-lg hidden-md app-download-btns">
                                                <a href="" target="_blank"><img src="~/images/website/appStore-200.png" alt="Locate Plate Android App"></a>
                                                <a href="" target="_blank"><img src="~/images/website/googlePlay.png" alt="Locate Plate iOS App"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <section class="container">
        <div class="flex flex-wrap-centered">
            <div class="col-md-8 col-lg-6">
                <h2 class="section-heading"> Discover the new talabat app</h2>
                <p class="section-description">Get what you need, when you need it.</p>
                <div class="flex">
                    <a href="" target="_blank"><img src="~/images/website/appStore-200.png" alt="Locate Plate Android App"></a>
                    <a href="" target="_blank"><img src="~/images/website/googlePlay.png" alt="Locate Plate iOS App"></a>
                </div>
                </div>
            <div class="col-md-8 col-lg-6 app-show-case-wrapper">
                <img class="app-show-case" ng-src="/images/Talabat/app-view-en.png" alt="Talabat App" src="/images/Talabat/app-view-en.png">
            </div>
        </div>
    </section>
    <section class="container-fluid app-section">
        <div class="my-5 py-2 ">
            <div class="row">
                <div class="col-md-12">
                    <div class="app-text">
                        <div class="letter-spacing-1 font-35 bold-500">The Best Restaurant Table<br /> Booking App <small class="font-35 font-weight-bold text-primary">Locate Plate</small></div>
                        <div class="d-flex social-buttons flex-wrap">
                            <div class="mr-3">
                                <img src="~/images/website/appStore-200.png" />
                            </div>
                            <div>
                                <img src="~/images/website/googlePlay.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}