@model LocatePlate.Model.Cms.Page

@{
    ViewData["Title"] = $"{Model.Name} Restaurants Table Booking & Take Out | LocatePlate";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

@if (Model?.PageLayout?.Section != null)
{
    @foreach (var item in Model?.PageLayout?.Section)
    {
        if (item?.Module?.SearchButtonsModule != null)
            @Html.Partial("_SearchSectionPartial", item.Module.SearchButtonsModule)
            if (item?.Module?.DealModule != null)
            {
                item.Module.DealModule.CityUrl = Model.Url;
                @Html.Partial("_DealPartial", item.Module.DealModule)
            }
            if (item?.Module?.CardsVerticalModule != null)
            {
                if (Model.IsNewRestaurantShow == true && Model?.NewRestaurants?.Any() != null)
                {
                    var cardModule = new LocatePlate.Model.Cms.Modules.Restaurants.CardsListingModule { Name = "New Restaurants", RestaurantDetails = Model.NewRestaurants };
                    @Html.Partial("_RestaurantPartial", cardModule)
                }
                @Html.Partial("_RestaurantPartial", item.Module.CardsVerticalModule)}
        }
}

<section class="bg-grey containerapp-section-desktop">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-1 py-4">

            </div>
            <div class="col-md-8 col-lg-5 py-4 mt-5">
                <h1 class="section-heading font-30"> Discover the new avenue to food</h1>
                <p class="section-description">Get what you need, when you need it.</p>
                <div class="d-flex">
                    <a href="" target="_blank" class="mr-3"><img src="~/images/website/appStore-200.png" alt="Locate Plate Android App" width="175"></a>
                    <a href="" target="_blank"><img src="~/images/website/googlePlay.png" alt="Locate Plate iOS App" width="175"></a>
                </div>
            </div>
            <div class="col-md-8 col-lg-5 app-show-case-wrapper mt-5">
                <img class="app-show-case" alt="Talabat App" src="~/images/website/mobile.png">
            </div>
        </div>
    </div>
</section>
<section class="container-fluid app-section">
    <div class="mt-5 py-2">
        <div class="row">
            <div class="col-md-12">
                <div class="app-text">
                    <div class="letter-spacing-1 font-35 bold-500">The Best Restaurant Table<br /> Booking App <small class="font-35 font-weight-bold text-primary">Locate Plate</small></div>
                    <div class="d-flex social-buttons flex-wrap">
                        <div class="mr-3">
                            <img src="~/images/website/appStore-200.png" />
                        </div>
                        <div>
                            <img src="~/images/website/googlePlay.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".nav-search-section").css("display", "none");
        });
    </script>
}