@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<section class="RestaurantFilterPage">
    <partial name="_SearchSectionPartial" />
</section>
<section class="my-5 RestaurantFilterSection">
    <div class="container">
        <form>
    <div class="row">
        <div class="col-md-3">
            <div class="filter-div-head">
                <div class="search-filter">
                    <div class="card border-top-0">
                        <div class="card-header text-dark">
                            Filter
                            <a class="card-link float-right" data-toggle="collapse" href="#collapseOne">
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show">
                            <div class="card-body">
                                <div class="form-group mb-2">
                                    <input type="text" class="form-control font-14 datepicker" />
                                </div>
                                @* <div class="form-group mb-2">
                                        <select class="form-control font-14">
                                            <option>Lunch</option>
                                            <option>Dinner</option>
                                            <option>High Tea</option>
                                        </select>
                                    </div>*@
                                <div class="form-group mb-2">
                                    <select class="form-control font-14">
                                        <option>1 Guest</option>
                                        <option selected>2 Guests</option>
                                        <option>3 Guests</option>
                                        <option>4 Guests</option>
                                        <option>5 Guests</option>
                                        <option>6 Guests</option>
                                        <option>7 Guests</option>
                                        <option>8 Guests</option>
                                        <option>9 Guests</option>
                                        <option>10 Guests</option>
                                        <option>10 + Guests</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cuisines-filter">
                    <div class="card">
                        <div class="card-header text-dark">
                            Cuisines
                            <a class="card-link float-right" data-toggle="collapse" href="#collapseTwo">
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse show">
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        North Indian
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Chinese
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Modern India
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Italian
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Cafe
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        South Indian
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category-filter">
                    <div class="card">
                        <div class="card-header text-dark">
                            Categories
                            <a class="card-link float-right" data-toggle="collapse" href="#collapseThree">
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse show">
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Casual Dining
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Luxery Dining
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Hotel Dining
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Bar/Pub
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Sweet Shop
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Cafe Bakery
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <h2>Best Takeaway Restaurants Near Me in Delhi </h2>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-2">
                <div class="restaurants-results text-grey">
                    30 Restaurants
                </div>
                <div class="input-group align-items-baseline sortby-div">
                    <select class="form-control font-14">
                        <option selected value="Sort By Popularity">Popularity</option>
                        <option value="Sort By Rating">Rating</option>
                        <option value="Sort By Cost High to Low">Cost High to Low</option>
                        <option value="Sort By Cost Low to High">Cost Low to High</option>
                    </select>
                </div>
            </div>
            <div class="all-restaurants-card">
                <div>
                    <div class="card flex-row border-0">
                        <div class="card-img w-30">
                            <div class="position-relative">
                                <a href="">
                                    <img class="card-img-top" src="~/images/website/rest1.jpg" alt="Card image cap">
                                </a>
                            </div>
                        </div>
                        <div class="card-body p-0 pl-3">
                            <a href="">
                                <h5 class="card-title mb-0 font-25 w-100">The Immigrant Cafe</h5>
                            </a>
                            <div class="d-flex align-items-center">
                                <div class="rating font-20">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-half-o checked"></span>
                                    <span class="fa fa-star unchecked"></span>
                                </div>
                                <span class="font-14 text-grey rating-review-count">
                                    1000 Reviews
                                </span>
                            </div>
                            <div class="font-14 text-grey d-flex mt-2 flex-wrap">
                                <div class="cuisines-card-div mr-2 d-flex">
                                    <div>
                                        <i class="fa fa-cutlery"></i>
                                    </div>
                                    <div>
                                        Cusines : MultiCuisine
                                    </div>
                                </div>
                                <div class="money-card-div d-flex">
                                    <div>
                                        <i class="fa fa-money"></i>
                                    </div>
                                    <div>
                                        Cost for Two : <span class="currency">₹</span> 2000 approx
                                    </div>
                                </div>
                            </div>
                            <div class="card-text font-14 text-grey d-flex location-card-div">
                                <div>
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div>
                                    Connaught Place (CP), Central Delhi
                                </div>
                            </div>
                            <div class="desktop-time-slot">
                                <ul class="time-slots my-2 pl-0 d-flex flex-row flex-wrap">
                                    <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                        <a href="" class="bold-600 text-white">7:30 PM</a>
                                    </li>
                                    <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                        <a href="" class="bold-600 text-white">8:30 PM</a>
                                    </li>
                                    <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                        <a href="" class="bold-600 text-white">10:30 PM</a>
                                    </li>
                                    <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                        <a href="" class="bold-600 text-white">7:30 PM</a>
                                    </li>
                                    <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                        <a href="" class="bold-600 text-white">7:30 PM</a>
                                    </li>
                                    <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                        <a href="" class="bold-600 text-white">7:30 PM</a>
                                    </li>
                                    <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                        <a href="" class="bold-600 text-white">7:30 PM</a>
                                    </li>
                                    <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                        <a href="" class="bold-600 text-white">7:30 PM</a>
                                    </li>
                                    <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                        <a href="" class="bold-600 text-white">7:30 PM</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-time-slots">
                        <ul class="time-slots my-2 pl-0 d-flex flex-row flex-wrap">
                            <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                <a href="" class="bold-600 text-white">7:30 PM</a>
                            </li>
                            <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                <a href="" class="bold-600 text-white">8:30 PM</a>
                            </li>
                            <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                <a href="" class="bold-600 text-white">10:30 PM</a>
                            </li>
                            <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                <a href="" class="bold-600 text-white">10:30 PM</a>
                            </li>
                            <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                <a href="" class="bold-600 text-white">7:30 PM</a>
                            </li>
                            <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                <a href="" class="bold-600 text-white">7:30 PM</a>
                            </li>
                            <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                <a href="" class="bold-600 text-white">7:30 PM</a>
                            </li>
                            <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                <a href="" class="bold-600 text-white">7:30 PM</a>
                            </li>
                            <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                <a href="" class="bold-600 text-white">7:30 PM</a>
                            </li>
                            <li class="slot bg-primary border-radius-4 mr-2 mb-2">
                                <a href="" class="bold-600 text-white">7:30 PM</a>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="card flex-row border-0">
                        <div class="card-img w-30">
                            <div class="position-relative">
                                <a href="">
                                    <img class="card-img-top" src="~/images/website/rest2.jpg" alt="Card image cap">
                                </a>
                            </div>
                        </div>
                        <div class="card-body p-0 pl-3">
                            <a href="">
                                <h5 class="card-title mb-0 font-25 w-100">Gourmet Couch</h5>
                            </a>
                            <div class="d-flex align-items-center">
                                <div class="rating font-20">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-half-o checked"></span>
                                    <span class="fa fa-star unchecked"></span>
                                </div>
                                <span class="font-14 text-grey rating-review-count">
                                    1000 Reviews
                                </span>
                            </div>
                            <div class="font-14 text-grey d-flex mt-2 flex-wrap">
                                <div class="cuisines-card-div mr-2 d-flex">
                                    <div>
                                        <i class="fa fa-cutlery"></i>
                                    </div>
                                    <div>
                                        Cusines : MultiCuisine
                                    </div>
                                </div>
                                <div class="money-card-div d-flex">
                                    <div>
                                        <i class="fa fa-money"></i>
                                    </div>
                                    <div>
                                        Cost for Two : <span class="currency">₹</span> 2000 approx
                                    </div>
                                </div>
                            </div>
                            <div class="card-text font-14 text-grey d-flex location-card-div">
                                <div>
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div>
                                    Connaught Place (CP), Central Delhi
                                </div>
                            </div>
                            <div class="time-slots my-2 desktop-time-unavailable">
                                <div class="slot-not-available bg-outline-primary border-radius-4">
                                    <a href="">Time Slot Unavailable</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-slots mt-2 mb-3 mobile-time-unavailable">
                        <div class="slot-not-available bg-outline-primary border-radius-4">
                            <a href="">Time Slot Unavailable</a>
                        </div>
                    </div>
                </div>
                <div class="card flex-row border-0">
                    <div class="card-img w-30">
                        <div class="position-relative">
                            <a href="">
                                <img class="card-img-top" src="~/images/website/rest3.jpg" alt="Card image cap">
                            </a>
                        </div>
                    </div>
                    <div class="card-body p-0 pl-3">
                        <a href="">
                            <h5 class="card-title mb-0 font-25 w-100">United Coffee House</h5>
                        </a>
                        <div class="d-flex align-items-center">
                            <div class="rating font-20">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o checked"></span>
                                <span class="fa fa-star unchecked"></span>
                            </div>
                            <span class="font-14 text-grey rating-review-count">
                                1000 Reviews
                            </span>
                        </div>
                        <div class="font-14 text-grey d-flex mt-2">
                            <div>
                                <i class="fa fa-cutlery mr-2"></i>
                            </div>
                            <div>
                                Cusines
                            </div>
                        </div>
                        <div class="card-text font-14 text-grey d-flex">
                            <div>
                                <i class="fa fa-map-marker mr-10"></i>
                            </div>
                            <div>
                                Connaught Place (CP), Central Delhi
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card flex-row border-0">
                    <div class="card-img w-30">
                        <div class="position-relative">
                            <a href="">
                                <img class="card-img-top" src="~/images/website/rest4.jpg" alt="Card image cap">
                            </a>
                        </div>
                    </div>
                    <div class="card-body p-0 pl-3">
                        <a href="">
                            <h5 class="card-title mb-0 font-25 w-100">Lord of the Drinks</h5>
                        </a>
                        <div class="d-flex align-items-center">
                            <div class="rating font-20">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o checked"></span>
                                <span class="fa fa-star unchecked"></span>
                            </div>
                            <span class="font-14 text-grey rating-review-count">
                                1000 Reviews
                            </span>
                        </div>
                        <div class="font-14 text-grey d-flex mt-2">
                            <div>
                                <i class="fa fa-cutlery mr-2"></i>
                            </div>
                            <div>
                                Cusines
                            </div>
                        </div>
                        <div class="card-text font-14 text-grey d-flex">
                            <div>
                                <i class="fa fa-map-marker mr-10"></i>
                            </div>
                            <div>
                                Connaught Place (CP), Central Delhi
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card flex-row border-0">
                    <div class="card-img w-30">
                        <div class="position-relative">
                            <a href="">
                                <img class="card-img-top" src="~/images/website/rest5.jpg" alt="Card image cap">
                            </a>
                        </div>
                    </div>
                    <div class="card-body p-0 pl-3">
                        <a href="">
                            <h5 class="card-title mb-0 font-25 w-100">Nobu</h5>
                        </a>
                        <div class="d-flex align-items-center">
                            <div class="rating font-20">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o checked"></span>
                                <span class="fa fa-star unchecked"></span>
                            </div>
                            <span class="font-14 text-grey">
                                1000 Reviews
                            </span>
                        </div>
                        <div class="font-14 text-grey d-flex mt-2">
                            <div>
                                <i class="fa fa-cutlery mr-2"></i>
                            </div>
                            <div>
                                Cusines
                            </div>
                        </div>
                        <div class="card-text font-14 text-grey d-flex">
                            <div>
                                <i class="fa fa-map-marker mr-10"></i>
                            </div>
                            <div>
                                Connaught Place (CP), Central Delhi
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card flex-row border-0">
                    <div class="card-img w-30">
                        <div class="position-relative">
                            <a href="">
                                <img class="card-img-top" src="~/images/website/rest6.jpg" alt="Card image cap">
                            </a>
                        </div>
                    </div>
                    <div class="card-body p-0 pl-3">
                        <a href="">
                            <h5 class="card-title mb-0 font-25 w-100">Spice Kitchen</h5>
                        </a>
                        <div class="d-flex align-items-center">
                            <div class="rating font-20">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o checked"></span>
                                <span class="fa fa-star unchecked"></span>
                            </div>
                            <span class="font-14 text-grey">
                                1000 Reviews
                            </span>
                        </div>
                        <div class="font-14 text-grey d-flex mt-2">
                            <div>
                                <i class="fa fa-cutlery mr-2"></i>
                            </div>
                            <div>
                                Cusines
                            </div>
                        </div>
                        <div class="card-text font-14 text-grey d-flex">
                            <div>
                                <i class="fa fa-map-marker mr-10"></i>
                            </div>
                            <div>
                                Connaught Place (CP), Central Delhi
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card flex-row border-0">
                    <div class="card-img w-30">
                        <div class="position-relative">
                            <a href="">
                                <img class="card-img-top" src="~/images/website/rest7.jpg" alt="Card image cap">
                            </a>
                        </div>
                    </div>
                    <div class="card-body p-0 pl-3">
                        <a href="">
                            <h5 class="card-title mb-0 font-25 w-100">Alto Vino</h5>
                        </a>
                        <div class="d-flex align-items-center">
                            <div class="rating font-20">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o checked"></span>
                                <span class="fa fa-star unchecked"></span>
                            </div>
                            <span class="font-14 text-grey">
                                1000 Reviews
                            </span>
                        </div>
                        <div class="font-14 text-grey d-flex mt-2">
                            <div>
                                <i class="fa fa-cutlery mr-2"></i>
                            </div>
                            <div>
                                Cusines
                            </div>
                        </div>
                        <div class="card-text font-14 text-grey d-flex">
                            <div>
                                <i class="fa fa-map-marker mr-10"></i>
                            </div>
                            <div>
                                Connaught Place (CP), Central Delhi
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    </div>
</section>