@model LocatePlate.Model.Cms.PageLayout

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
}

<div class="card">
    <div class="card-header card-header-rose card-header-text">
        <div class="card-head bg-primary">
            <h4 class="card-title-top text-white">
                Page Layout
            </h4>
        </div>
    </div>
    <div class="card-body px-5 py-5">
        <form data-ajax="true" data-ajax-method="POST" asp-action="Create" class="py-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="d-flex justify-content-between">
                            <label class="control-label">Section</label>
                            <div href="" class="text-primary cursor-pointer font-14px" id="addPageLayout">Add Section</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="container">
                <table id="RowArea" class="mb-4">
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div style="display:none;" id="import"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            var id = `@Model.Id`;
            if (id != '00000000-0000-0000-0000-000000000000')
                loadsection();
            $("#addPageLayout").click(function () {
                loadsection();
            });


           function loadsection()
            {
                $('#import').load(`/Cms/PageLayout/SectionPartial/${id}`, function () {
                    var markup = $('#import').html();
                    $('#import').html("");
                    $('#RowArea').append(markup);
                    $("#RowArea").contents().find('.section-dropdown').on('change', function () {
                        var val = $(this).val().split('MyUniqueBreakpoint')[0];
                        $(this).closest('td').next().html(val);
                    });
                    $("#RowArea").contents().find(".remove-row").on('click', '.remCF', function () {
                        $(this).parent().parent().remove();
                    });
                });
               id = '00000000-0000-0000-0000-000000000000';
            }
        });
    </script>
}

