@{
    ViewData["Title"] = "Confirmation";
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href='~/css/home-style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="h-100 bg-auth">
     <section class="bg-auth h-100">
            <div class="position-relative">
                <div class="text-center thnkew-page bg-white">
                    <header class="bg-primary p-2">
                        <h1 class="text-white mb-0 font-20 text-uppercase">Order Confirmation</h1>
                    </header>
                    <div class="p-4 text-center">
                        <div>
                            <img src="~/images/website/order-conf.png" />
                        </div>
                        <h2>Thank you for your order!</h2>
                        <p>Your order has been confirmed</p>
                        <div class="my-4">
                            <button class="btn-primary btn bold-600 text-uppercase font-16" type="button">Continue Browsing</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>
</html>


